/*
div { border: 1px solid white; }
*/

/* Overrides default styles ***************************************************/

* {
  font-family: "Tahoma", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  /*background: #E6E3DC url(../images/background.png) repeat-x;*/
  background-color: #E6E3DC;
}

a {
  color: inherit;
}

a:hover {
  color: #6D8103;
}

ul {
  list-style: none;
}

table {
  border: 1px solid #000000;
}

th, td {
  padding: 0.25em;
}

th {
  border: 2px solid #000000;
  
  font-size: large;
  font-weight: bold;
}

td {
  border: 1px solid #000000;
  
  font-size: medium;
}

form {
  display: inline;
}

input[type="text"],
input[type="password"],
select {
  width: 10em;
  padding: 0.25em;
  
  background-color: #EEEEEE;
  border: 1px solid #999999;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  
  font-size: medium;
}

input[type="submit"] {
  padding: 0.25em 0.5em;
  
  font-size: medium;
}

/* Main structure style *******************************************************/

#marquee {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  
  width: 100%;
  
  background-color: #6D8103;
  
  font-size: medium;
  color: #CCCCCC;
}

#marquee > div {
  display: table;
  width: 900px;
  
  margin: 0 auto;
  padding: 0.85em 0 0.65em;
  
  text-align: center;
}

#marquee span {
  display: table-cell;
  width: 15%;
  font-weight: bold;
}

#marquee marquee {
  display: table-cell;
}

#wrapper {
}

#wrapper > div {
  display: block;
}

#header {
  width: 100%;
  
  padding-top: 3em;
  
  background-color: #434343;
  
  color: #E6E3DC;
}

#logo {
  width: 900px;
  min-height: 50px;
  
  margin: 1em auto 1.5em;
}

#logo img {
  float: left;
}

#logo h1 {
  display: inline-block;
  margin: 5px 0px 0px 15px;
}

#logo a {
  text-decoration: none;
}

#logo a:hover {
  text-decoration: underline;
}

#navigation {
}

#navigation ul {
  display: block;
  
  border-bottom: 8px solid #6D8103;
  
  font-size: medium;
  text-align: center;
}

#navigation li {
  display: inline-block;
  
  margin: 0 0.1em;
}

#navigation li a {
  display: block;
  
  padding: 0.5em 0.5em 0.25em;
  
  color: #E6E3DC;
  text-align: center;
  text-decoration: none;
}

#navigation li a:hover,
#navigation .on {
  background-color: #6D8103;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
}

#navigation li a:hover {
  text-decoration: underline;
}

#navigation .on {
  font-weight: bold;
}

#content {
  width: 975px;
  margin: 0 auto;
    
  /*background: brown url(../images/FondoEscrito.jpg) no-repeat;*/
}

#content > div {
  display: inline-block;
  
  padding: 1em 0.5em;
}

#main {
  width: 75%;
  min-height: 500px;
}

#main > * {
  margin: 0 0 1em 0;
}


#sidebar {
  float: right;
  
  width: 20%;
}

#sidebar div {
  margin: 0 auto;
}

#footer {
  padding: 1em 1em 2em;
  
  background: #434343 /*url(../images/footback2.png) no-repeat*/;
  /*-moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;*/
  
  /*border: 1px solid grey;*/
  
  font-size: medium;
  color: #E6E3DC;
}

p.copyright {
  font-weight: bold;
  text-transform: uppercase;
}

/* Specific sections styles ***************************************************/

#main > div {
  display: block;
}

div.admin-options {
  float: right;
}

#noticias #main > div,
#jugadores #main > div,
#equipos #main > div,
#estadios #main > div {
  padding: 25px;
}

#noticias #main > div img,
#jugadores #main > div img,
#equipos #main > div img,
#estadios #main > div img {
  float: left;
  
  margin: 0 20px 5px 0;
  
  border: 1px solid #000000;
}

#noticias #main > div {
  min-height: 150px;
}

#noticias #main > div img {
  width: auto;
  height: 150px;
}

#jugadores #main > div {
  min-height: 175px;
}

#jugadores #main > div img {
  width: auto;
  height: 125px;
}

#equipos #main > div {
  min-height: 180px;
}

#equipos #main > div img {
  padding: 15px;
  
  width: auto;
  height: 100px;
  
  background-color: #FFFFFF;
}

#estadios #main > div {
  min-height: 200px;
}

#estadios #main > div img {
  width: auto;
  height: 150px;
}

#ligas #main > div h3,
#ligas #main > div p,
#ligas_publicas #main > div h3,
#ligas_publicas #main > div p,
#ligas_privadas #main > div h3,
#ligas_privadas #main > div p {
  margin: 0.5em;
}

#calendario #main tr *,
#resultados #main tr * {
  text-align: center;
}

#calendario #main table img,
#resultados #main table img {
  width: auto;
  height: 50px;
}

#calendario #main table td.img,
#resultados #main table td.img {
  background-color: #FFFFFF;
  width: 50px;
}

/* Slider *********************************************************************/

#slider,
#sliderContent,
.sliderImage span {
  width: 600px; /* important to be same as image width */
}

#slider {
  height: 300px; /* important to be same as image height */
}

.left,
.right {
  width: 200px !important;
  padding: 10px;
  height: 280px; /* = #slider.height - ((this.padding * 2)) */
  -moz-border-radius: 0.5em 0 0 0.5em;
  -webkit-border-radius: 0.5em 0 0 0.5em;
}

.left {
  top: 0;
  left: 0;
  -moz-border-radius: 0.5em 0 0 0.5em;
  -webkit-border-radius: 0.5em 0 0 0.5em;
}

.right {
  right: 1px;
  bottom: 5px;
  -moz-border-radius: 0 0.5em 0.5em 0;
  -webkit-border-radius: 0 0.5em 0.5em 0;
}

#slider {
  position: relative; /* important */
  overflow: hidden; /* important */
  
  margin: 0 auto;
}

#sliderContent {
  position: absolute;
  top: 0;
}

.sliderImage {
  position: relative;
  
  display: none;
  float: left;
}

.sliderImage span {
  position: absolute;
  
  display: none;
  
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  
  font-size: normal;
  color: #fff;
}

.sliderImage img {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.clear {
  clear: both;
}

#login {
  display: table;
  width: 600px;
  margin: 1em auto;
}

#login div {
  display: table-cell;
  padding: 1em;
  width: 300px;
}
