/*
div { border: 1px solid white; }
*/

/* Overrides default styles ***************************************************/

* {
  font-family: "Tahoma", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #000000 url(../images/bit.gif) repeat-x;
}

a {
  color: inherit;
}

a:hover {
  color: #6D8103;
}

ul {
  list-style: none;
}

table {
  border: 1px solid #000000;
}

th, td {
  padding: 0.25em;
}

th {
  border: 2px solid #000000;
  
  font-size: large;
  font-weight: bold;
}

td {
  border: 1px solid #000000;
  
  font-size: medium;
}

form {
  display: inline;
}

input[type="text"],
input[type="password"],
select {
  width: 10em;
  padding: 0.25em;
  
  background-color: #EEEEEE;
  border: 1px solid #999999;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  
  font-size: medium;
}

input[type="submit"] {
  padding: 0.25em 0.5em;
  
  font-size: medium;
}

/* Main structure style *******************************************************/

#wrapper {
  width: 900px;
  
  margin: 0 auto;
}

#header {
  height: 171px;
  
  color: #E6E4DD;
}

#logo {
  height: 50px;
  
  margin: 25px 25px 15px;
}

#logo img {
  float: left;
}

#logo h1 {
  display: inline-block;
  margin: 5px 0px 0px 15px;
}

#logo a {
  text-decoration: none;
}

#logo a:hover {
  text-decoration: underline;
}

#login {
  display: inline-block;
  float: right;
  
  margin-top: -57px;
  margin-right: 26px;
}

#updates {
  display: block;
  
  width: 825px;
  height: 20px;
  
  margin: 0 25px 25px;
  padding: 10px;
  
  background-color: #919E42;
  color: #000000;
}

#updates strong,
#updates marquee {
  display: table-cell;
}

#updates strong {
  width: 10%;
}

#navigation {
  height: 41px;
}

#navigation ul {
  display: block;
  
  font-size: medium;
  text-align: center;
}

#navigation li {
  display: inline-block;
  
  margin: 0 4px;
}

#navigation li a {
  display: block;
  
  padding: 8px 12px 4px;
  
  text-align: center;
  text-decoration: none;
}

#navigation li a:hover,
#navigation .on {
  color: inherit;
  background-color: #728603;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
}

#navigation li a:hover {
  text-decoration: underline;
}

#navigation .on {
  font-weight: bold;
}

#content {
  margin: 0 auto;
}

#main,
#sidebar {
  padding: 1em 0.5em;
  
  background-color: #E6E4DD;
  
  color: #000000;
}

#main {
  float: left;
  width: 665px;
  height: 500px;
  overflow-y: auto;
}

#main > * {
  margin: 0 0 1em 0;
}


#sidebar {
  float: right;
  
  width: 200px;
}

#sidebar div {
  margin: 0 auto;
}

#footer {
  height: 80px;
  
  padding: 20px 20px 0;
  
  background: #000000;
  
  font-size: medium;
  color: #E6E4DD;
  
  clear: both;
}

p.copyright {
  font-weight: bold;
  text-transform: uppercase;
}

/* Specific sections styles ***************************************************/

#main > div {
  display: block;
  
  clear: both;
}

div.admin-options {
  float: right;
}

#index #else > div,
#jugadores #main > div,
#equipos #main > div,
#estadios #main > div {
  padding: 25px;
}

#index #else > div img,
#jugadores #main > div img,
#equipos #main > div img,
#estadios #main > div img {
  float: left;
  
  margin: 0 20px 5px 0;
  
  border: 1px solid #000000;
}

#index #else > div {
  min-height: 150px;
}

#index #else > div img {
  width: auto;
  height: 150px;
}

#jugadores #main > div {
  min-height: 175px;
}

#jugadores #main > div img {
  width: auto;
  height: 125px;
}

#equipos #main > div {
  min-height: 180px;
}

#equipos #main > div img {
  padding: 15px;
  
  width: auto;
  height: 100px;
  
  background-color: #FFFFFF;
}

#estadios #main > div {
  min-height: 200px;
}

#estadios #main > div img {
  width: auto;
  height: 150px;
}

#ligas #main > div h3,
#ligas #main > div p,
#ligas_publicas #main > div h3,
#ligas_publicas #main > div p,
#ligas_privadas #main > div h3,
#ligas_privadas #main > div p {
  margin: 0.5em;
}

#calendario #main tr *,
#resultados #main tr * {
  text-align: center;
}

#calendario #main table img,
#resultados #main table img {
  width: auto;
  height: 50px;
}

#calendario #main table td.img,
#resultados #main table td.img {
  background-color: #FFFFFF;
  width: 50px;
}

/* Slider *********************************************************************/

#slider,
#sliderContent,
.sliderImage span {
  width: 600px; /* important to be same as image width */
}

#slider {
  height: 300px; /* important to be same as image height */
}

.left,
.right {
  width: 200px !important;
  padding: 10px;
  height: 280px; /* = #slider.height - ((this.padding * 2)) */
  -moz-border-radius: 0.5em 0 0 0.5em;
  -webkit-border-radius: 0.5em 0 0 0.5em;
}

.left {
  top: 0;
  left: 0;
  -moz-border-radius: 0.5em 0 0 0.5em;
  -webkit-border-radius: 0.5em 0 0 0.5em;
}

.right {
  right: 1px;
  bottom: 5px;
  -moz-border-radius: 0 0.5em 0.5em 0;
  -webkit-border-radius: 0 0.5em 0.5em 0;
}

#slider {
  position: relative; /* important */
  overflow: hidden; /* important */
  
  margin: 0 auto 1.5em;
}

#sliderContent {
  position: absolute;
  top: 0;
}

.sliderImage {
  position: relative;
  
  display: none;
  float: left;
}

.sliderImage span {
  position: absolute;
  
  display: none;
  
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  
  font-size: normal;
  color: #fff;
}

.sliderImage img {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

.clear {
  clear: both;
}
