.Fila {

	background-color: #6E8303;
	padding:10px;
	margin-bottom:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	height: 145px;
	margin-left:20px;
	clear: both;
	width: 80%;
}

.datos {
	margin-left:10px;
	margin-right:60px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #CCC;
}

#form {
	margin: 10px;
	float: right;
	
}

#box_info table {
    width: 100%;
}

#content #contenido_interno_esta{
	overflow:auto;
	width: 600px;
	height: 500px;
	float: left;
	background-color: #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#box_info{
  	margin-left: 20px;
	margin-top: 5px;
	color: #000;
	padding: 5px;
	width: 550px;
	height: 400px;
	//background-color: #6E8303;
			background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    overflow:auto;
    overflow-x: hidden;
}

.linea{
	margin-left: 20px;
	margin-top: 5px;
	color: #CCC;
	padding: 5px;
	width: 100%;
	background-color: #333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
