@charset "utf-8";
/* CSS Document */

html, body {
        height: 100%;
        overflow: hidden;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
        margin: 0;
        padding: 0;
}

h1, h2, h3, h4, h5, h6, pre, code {
        font-size: 100%;
}

* {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
        font-weight: bold;
        font-style: italic;
        color: #885411;
}

body {
        background: url(images/background.jpg) repeat top center;
}

#wrapper {
        position: relative;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        overflow: hidden;
}

#logo {
        position: absolute;
        top: 10px;
        right: 30px;
        z-index: 1;
}

#logo a {
        width: 400px;
        height: 150px;
        display: block;
        background: url(images/logo.png) no-repeat;
}

#top, #bottom {
        position: absolute;
        left: 0px;
        right: 20px; /* = #wrapper{left} * 2 */
        width: auto;
        overflow: hidden;
}

#top {
        top: 0px;
        height: 184px;
}

#header {
        height: 128px;
        margin-bottom: 10px;
        display: block;
        background: url(images/header.jpg) no-repeat;
}

#navigation {
        height: 32px;
        display: block;
        text-align: center;

        background: url(images/bar.png);
}

#navigation li {
        display: inline-block;
}

#navigation li a {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        height: 20px;
        margin: 6px 10px;
        display: block;
        background: none top left no-repeat;
}

#navigation li a.consult {
        width: 101px;
        background-image: url(images/navigation/consult.png);
}

#navigation li a.insert {
        width: 93px;
        background-image: url(images/navigation/insert.png);
}

#navigation li a.delete {
        width: 92px;
        background-image: url(images/navigation/delete.png);
}

#navigation li a.update {
        width: 111px;
        background-image: url(images/navigation/update.png);
}

#navigation li a.consult:hover, #navigation li a.insert:hover, #navigation li a.delete:hover, #navigation li a.update:hover {
        background-position: right;
}

#bottom {
        top: 180px; /* = #top{height} */
        bottom: 20px; /* = #wrapper{top} * 2 */
        height: auto;
        background: url(images/content.png) no-repeat;
}

#bottom > div {
        height: 96%;
        overflow: auto;
        background-color: #FFFFFF;
}

#left {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 22%;
}

.home #left {
        width: 98%;
        height: auto;
}

#title {
        width: 156px;
        height: 28px;
        margin: 15px;
        display: block;
        background: none top left no-repeat;
}

.home #title {
        background-image: url(images/titles/home.png);
}

.consult #title {
        background-image: url(images/titles/consult.png);
}

.insert #title {
        background-image: url(images/titles/insert.png);
}

.delete #title {
        background-image: url(images/titles/delete.png);
}

.update #title {
        background-image: url(images/titles/update.png);
}

#right {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 75%;
}

.home #right {
        display: none;
}

#side-content p, #main-content p {
        margin: 15px;
        text-align: justify;
}

#header, #navigation, #middle, #left, #right, #bottom, input.button {
        border-radius: 5px;
        -moz-border-radius: 5px;
}

input, textarea, select {
        width: auto;
        max-width: 50%;
        color: #A67f4D;
        background-color: #FFFFFF;
        border-style: solid;
        border-color: #A67f4D;
        border-width: 0px 0px 2px 0px;
}

input {
        border-width: 0px 0px 2px 0px;
}

input.button {
        padding: 3px 5px;
        color: #FFFFFF;
        background-color: #A67f4D;
        border-width: 0px;
}

textarea, select {
        border-width: 2px;
}

table {
        width: auto;
        max-width: 90%;
        margin: 15px;
}

table th {
        color: #663F0D;
        border: 2px solid #663F0D;
}

table td {
        color: #A67f4D;
        border: 2px solid #A67f4D;
}

.hidden {
        display: none;
}

.menu_elem {
        color: white;
        background-color: #885411;
        width: 80%;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        margin-bottom: 5px;
}

.menu_elem: hover {
        color: #885411;
        background-color: #D2B48C;
}

.menu_elem a {
        text-decoration: none;
        color: inherit;
}
