<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Baseball</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="logo">
	<p>This is the logo.</p>
</div>
<div id="container">
    <div id="header">
    	<p>This is the header.</p>
    </div>
    <div id="navigation">
    	<p>This is the navigation.</p>
    </div>
    <div id="content">
        <div id="left">
            <p>This is the sidebar.</p>
        </div>
        <div id="right">
            <p>This is the content.</p>
        </div>
    </div>
</div>
<div id="footer">
	<p>Un producto de Ñangara, Inc. <img src="images/vendor.png" /></p>
</div>
</body>
</html>
