@charset "utf-8";
/* CSS Document */

body {
	margin: 10px;
	padding: 0px;
	background: #ffffff;
}

#container {
	width: 100%;
	min-width: 600px;
	max-width: 1280px;
	max-height: 747px;
	margin: 0px auto;
	padding: 10px 0px;
	
	background: url(images/background.jpg) repeat-y top center;
}

#header, #navigation, #content {
	display: block;
	margin: 0 10px;
}

#header, #navigation {
	margin-bottom: 10px;
}

#container, #header, #navigation, #content, #content > div, #footer {
	border-radius: 8px;
	-moz-border-radius: 8px;
}

#logo {
	position: absolute;
	top: 15px;
	right: 15px;
	
	background: url(images/logo.png) no-repeat;
	width: 400px;
	height: 150px;
}

#header {
	background: url(images/header.jpg) no-repeat;
	height: 140px;
}

#logo *, #header * {
	display: none;
}

#navigation {
	background: url(images/navigation.png);
	height: 34px;
}

#content {
	background: url(images/content.png) no-repeat;
	height: 530px;
}

#content > div {
	margin: 10px;
	height: 460px;
	background-color: #ffffff;
}

#content #left {
	width: 25%;
	float: left;
}

#content #right {
	width: 70%;
	float: right;
}

#footer {
	background-color: #ffffff;
	display: block;
	margin: 10px;
	padding: 0px;
	text-align: center;
}