@charset "utf-8";
#contenido {
	width: 600px;
	float: left;
	height: 500px;
	margin-top: 10px;
	margin-left: 30px;

}

#izquierda {
	background-color: #333;
	height: 500px;
	width: 280px;
	float: left;
	//-webkit-border-radius: 10px;
	//-moz-border-radius: 10px;

}
#derecha {
	background-color: #333;
	height: 500px;
	width: 280px;
	float: left;
	//-webkit-border-radius: 10px;
	//-moz-border-radius: 10px;

}

#seccion1 {
	background-color: #CCC;
	height: 180px;
}
#fotojugador {
	background-color: #879F04;
	height: 140px;
	width: 70%;
	margin-top: 10px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-left: 40px;
}
#wrapper #content #contenido #derecha #seccion3 p {
	text-align: center;
}


#seccion2 {
	background-color: #999;
	height: 280px;
}
#seccion3 {
	background-color: #999;
	height: 280px;
}
#seccion4 {
	background-color: #CCC;
	height: 180px;
}
#seccion1, #seccion2, #seccion3, #seccion4 {
	margin: 5px;
	padding: 5px;
	width: 93%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
  
